.button-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px;
  gap: 8px;

  width: 100% !important;
  height: 52px;
  color: #f2f4f7;
  background: #000000;
  border-radius: 8px;
  border: 1px solid #000000;
  margin: 20px 0;
  text-align: center;
}
