:root {
  font-family: "Poppins", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  padding: 0;
  margin: 0;
}

.account-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */

  color: #000000;
}

.h1-title {
  font-family: "Anybody";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;

  color: #000000;
}

.h1-title2 {
  font-family: "Anybody";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  /* identical to box height, or 127% */

  color: #000000;
}

.h3-title {
  font-family: "Anybody";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */

  /* Grey/Grey800 */

  color: #1d2939;
}

.p-title {
  font-family: "Inter";
  font-size: 16px;
  margin: 0.5rem 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 143% */

  /* Grey/Grey500 */

  color: #667085;
}

.size-big {
  font-size: 24px;
}

.hr-all {
  width: 100%;
  height: 0px;
  border: 1px solid #e5e7eb;
}

.text-muted {
  color: #98a2b3;
}

@media screen and (max-width: 767px) {
  .account-title {
    font-size: 16px;
    line-height: 26px;
  }
  .h1-title {
    font-size: 18px;
    line-height: 26px;
    text-align: left !important;
  }
  .h1-title2 {
    font-size: 24px;
    line-height: 32px;
  }
  .h3-title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-align: left !important;
  }
  .p-title {
    /* font-size: 12px; */
    line-height: 16px;
  }
  .center-mobile {
    text-align: center !important;
  }
  .size-big {
    font-size: 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .account-title {
    font-size: 18px;
    line-height: 28px;
  }
  .h1-title {
    font-size: 18px;
    line-height: 28px;
  }
  .h1-title2 {
    font-size: 28px;
    line-height: 36px;
  }
  .h3-title {
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
  }
  .p-title {
    font-size: 14px;
    line-height: 18px;
  }
  .center-mobile {
    text-align: center !important;
  }
}
