@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin: 0 auto;
  background-color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.show {
  border: none !important;
}

#filterAccordionBtn, #priceRangeBtn {
  border: none !important;
  border-bottom: none !important;
}

#filterAccordionBtn::after, #priceRangeBtn::after {
  display: none;
}

#sortBody, #priceRangeBody {
  border: none;
}
